:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #eeeeee;
  background-color: #161719;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
}



#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  font-weight: 500;
  color: #888;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: -0.05em;
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s ease-in-out infinite;
}
